@import "tailwindcss";

@theme {
  --color-cream: #fff7cf;
  --color-cream-light: #fffbe3;
  --color-brown: #7a5a3b;
  --color-brown-dark: #3b1f16;
  --color-brown-light: #a18152;
  --color-beige: #eadfb7;
  --color-beige-light: #f1e7c4;
  --color-green-accent: #2ba05a;
  --color-card-bg: #fff7cf;
  --color-card-border: #e6dbb2;
}

body {
  background-color: #ffffff;
}
