@import "tailwindcss";

@theme {
  --color-cream: #f5f0d0;
  --color-cream-light: #faf8e8;
  --color-brown: #5a3e28;
  --color-brown-dark: #3d2415;
  --color-brown-light: #8b6f47;
  --color-beige: #e8ddb5;
  --color-beige-light: #f0e8c8;
  --color-green-accent: #2e8b57;
  --color-card-bg: #FFFCDA;
  --color-card-border: #d8d0a0;
}

body {
  background-color: white;
}
